baseURL = "https://amitashukla.in/"
languageCode = "en-us"
title = "Amita Shukla"
theme = "gokarna"

enableGitInfo = true
enableRobotsTXT = true

[pagination]
  pagerSize = 10

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
