<div class="subscribe-box">
  <form id="mc-form" novalidate>
    <input
      type="email"
      id="mc-email"
      name="EMAIL"
      placeholder="Email Address"
      required
    />

    <!-- Bot / honeypot field -->
    <div class="mc-honeypot" aria-hidden="true">
      <input
        type="text"
        name="b_9618da8096ab249006808edd2_a6e4c110bf"
        tabindex="-1"
        autocomplete="off"
      />
    </div>

    <button type="submit">Subscribe</button>

    <p class="mc-message" id="mc-message"></p>
  </form>
</div>
